{#- Sent when returned goods are refunded. -#}
{% extends "renox/mail/layout.html" %}
{% from "renox/mail/components.html" import table, panel, button %}
{% block title %}{{ t('sales.mail.refund.subject', number=order.number) }}{% endblock %}
{% block content %}
<p>{{ t('sales.mail.hello', name=name) }}</p>
{% call panel() %}{{ t('sales.mail.refund.text', amount=(refund | money), number=order.number) }}{% endcall %}
<p>{{ t('sales.mail.refund.when') }}</p>
{{ button(url, t('sales.mail.view_order')) }}
{% endblock %}
